<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>NBTest | Starlit</title>
    <link rel="stylesheet" href="{{starboard_artifacts_url}}/starboard-notebook.css">
    <link rel="icon" href="{{starboard_artifacts_url}}/favicon.ico">

    <link rel="preload" href="{{starboard_artifacts_url}}/inter.var.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{starboard_artifacts_url}}/bootstrap-icons.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{starboard_artifacts_url}}/codemirrorEditor.chunk.js" as="script" crossorigin>
    <link rel="preload" href="{{starboard_artifacts_url}}/katex.chunk.js" as="script" crossorigin>

    <style>
      .nbtest-container {
        border: 1px solid #eee;
        border-radius: 6px;
      }

      .nbtest-container.nbtest-started {
        background-color: #f0f0f0;
      }
      
      .nbtest-container.nbtest-pass {
        background-color: #ceffd9;
      }

      .nbtest-container.nbtest-skip {
        background-color: #ffefb9;
      }
      
      .nbtest-container.nbtest-fail {
        background-color: #ffaeae;
      }
    </style>
</head>

<body>
    <div class="p-3 m-3 nbtest-container m-3">
        <h1 class="h4">Starlit NB Test</h1>
        <div class="nbtest-result-container small">
            ⌛ Waiting for notebook to fully load
        </div>
    </div>
  
    <script>
      const container = document.querySelector(".nbtest-container");
      const resultContainer = document.querySelector(".nbtest-result-container");

      function decodeBase64(base64) {
          const text = atob(base64);
          const bytes = new Uint8Array(text.length);
          for (let i = 0; i < text.length; i++) {
              bytes[i] = text.charCodeAt(i);
          }
          const decoder = new TextDecoder();
          return decoder.decode(bytes);
      }

      function checkForSkipFlag() {
          if (runtime && runtime.content && runtime.content.metadata.nbtest && runtime.content.metadata.nbtest.skip === true) {
            console.warn("Skipping nbtest test");
            window.__nbTestResult = {
              status: "SKIP",
            };

            resultContainer.innerText = "🦘 Notebook test skipped."
            container.classList.add("nbtest-started", "nbtest-skip", "nbtest-done");
          
            return true;
          }
          return false;
      }
      
      async function runAllNotebookCellsForNBTest() {
        try {
            resultContainer.innerText = "🤞 Running notebook.."
            container.classList.add("nbtest-started");

            await runtime.controls.runAllCells({onRunOnLoad: false})

            window.__nbTestResult = {
              status: "PASS",
            };

            resultContainer.innerText = "✅ Notebook ran to the end without errors."
            container.classList.add("nbtest-pass", "nbtest-done");

        } catch (e) {
            console.error(e);

            window.__nbTestResult = {
              status: "FAIL",
              error: JSON.parse(JSON.stringify(e, ["stack", ...Object.getOwnPropertyNames(e)]))
            };

            resultContainer.innerText = "❌ Notebook threw an exception."
            container.classList.add("nbtest-fail", "nbtest-done");
            
            throw e;
        }
      }

      window.addEventListener('unhandledrejection', function (e) {
            if (checkForSkipFlag()) return; // Triggered when a plugin fails to load

            console.error("Unhandled Rejection", e.reason);
            window.__nbTestResult = {
              status: "FAIL",
              error: JSON.parse(JSON.stringify(e.reason, ["stack", ...Object.getOwnPropertyNames(e.reason)]))
            };

            resultContainer.innerText = "❌ Notebook had an unhandled rejection."
            container.classList.add("nbtest-started", "nbtest-fail", "nbtest-done");
      })

      // Prevent initial run, as we want to perform our own run of all the cells.
      document.addEventListener("sb:run_all_cells", (e) => {
        if (e.detail.isInitialRun) {
            e.preventDefault();
            if (!checkForSkipFlag()) {
              runAllNotebookCellsForNBTest()
            }
        }
      });

      const b64Content = {{writeJson(notebook_content)}};
      window.initialNotebookContent = decodeBase64(b64Content);
      window.starboardArtifactsUrl = "{{starboard_artifacts_url}}/";
      {{ if isset(pyodide_artifacts_url) && pyodide_artifacts_url != ""}}
      window.pyodideArtifactsUrl = "{{pyodide_artifacts_url}}";
      {{ end }}
    </script>

    <script src="{{starboard_artifacts_url}}/starboard-notebook.js"></script>
</body>

</html>